mat-tab-group{
  width: 100%;
}
.link{
  font-weight: bold;
  color: darkslategrey;
}
.mat-raised-button{
  background-color: #d83431;
  color: white;
}
#xButton {
  float: right;
  color: grey;
  font-weight: bolder;
  background-color: #f9f9f9;
}
#badge {
  margin-right: 5px;
  float: right;
  color: white;
  font-weight: bolder;
  background-color: #721c24;
  border-radius: 50%;
  height: 18px;
  width: 18px;
}
.mat-menu-item{
  height: 30px;
  line-height: 0;
}
