<div class="blog-page container">
  <div class="blog-posts">
    <h1>
      <span class="cap-lg pill-lg">Groups:</span>
    </h1><br>
    <div class="row blog-post">
      <div class="col-md-6">
        Managed groups:<br>
        <a matTooltip="{{group.description}} &#13; {{group.users.length}} Members" *ngFor="let group of managedGroups"
           [routerLink]="['/group', group.id]"> {{group.name}} <br> </a>
      </div>
      <div class="col-md-6">
        Member of:<br>
        <a matTooltip="{{group.description}} &#13; {{group.users.length}} Members" *ngFor="let group of memberOfGroups"
           [routerLink]="['/group', group.id]"> {{group.name}} <br> </a>
      </div>
    </div>
  </div>
</div>
