<footer>
  <div class="container">
    <hr>
    <div class="footer-bottom clear">
      <div class="footer-logo">
        <img src="../assets/images/logo.png">
      </div>
      <div class="footer-social">
        <a href="https://www.linkedin.com/company/vermeg" target="_blank">
          <i class="fab fa-linkedin-in social-icon"></i>
        </a>
        <a href="https://twitter.com/vermeg" target="_blank">
          <i class="fab fa-twitter social-icon"></i>
        </a>
        <a href="https://www.facebook.com/Vermeg/" target="_blank">
          <i class="fab fa-facebook social-icon"></i>
        </a>
      </div>
      <div class="copywrite">
        Copyright © 2019 Vermeg Ltd Legal.
      </div>
    </div>
  </div>
</footer>
