.example-chip-list {
  width: 70%;
  margin-right: 10px;
}
.example-form {
  min-width: 150px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-full-width-textarea {
  width: 100%;
  min-height: 150px;
}


