<section class="blog-page">
  <div class="container">
    <div class="blog-posts">
      <h1>
        <span class="cap-lg pill-lg">Home</span>
      </h1>
      <div class="row blog-post" *ngFor="let q of questions; let i = index">
        <a href="#" class="blog-post-author col-md-2 text-center">
          <i style="background-image: url(../../../../assets/images/knuck.jpg);"></i>
          <span>
            <b>{{q.author.username}}</b><br>author desc
          </span>
        </a>
        <div class="col-md-1">
          <div class="row justify-content-center">
<!--            <a href="" (click)="false"><i class="far fa-arrow-alt-circle-up fa-2x vote-arrow"></i></a>-->
            <br>Votes
          </div>
          <div class="row justify-content-center">
            <b>{{currentVotes[i]}}</b>
          </div>
<!--          <div class="row justify-content-center">-->
<!--            <a href="" (click)="false"><i class="far fa-arrow-alt-circle-down fa-2x vote-arrow"></i></a>-->
<!--          </div>-->
        </div>
        <div class="blog-post-summary col-md-9">
          <h6 class="cap-22"><a [routerLink]="['/question', q.id]">{{q.title}}</a></h6>
          <span>{{q.createdAt| date :'dd-MMM-yyyy'}}</span>
          <p class="txt-16">{{q.txt}}<br></p>
          <div class="text-right">
            <a class="post-link" [routerLink]="['/question', q.id]" >Read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
