<div class="blog-page container">
  <div class="blog-posts">
    <div class="row blog-post" *ngIf="q">
      <a href="#" class="blog-post-author col-md-2 text-center">
        <i style="background-image: url(../../../../assets/images/knuck.jpg);"></i>
        <span>
            <b>{{q.author.username}}</b> <br> {{q.author.desc}}
        </span>
      </a>
      <div class="col-md-1">
        <div class="row justify-content-center">
          <a class="link" href="" (click)="false"><i class="far fa-arrow-alt-circle-up fa-2x vote-arrow"></i></a>
        </div>
        <div class="row justify-content-center">
          <b>{{q.upVotes - q.downVotes}}</b>
        </div>
        <div class="row justify-content-center">
          <a class="link" href="" (click)="false"><i class="far fa-arrow-alt-circle-down fa-2x vote-arrow"></i></a>
        </div>
      </div>


      <div class="blog-post-full col-md-9">
        <h6 class="cap-22">{{q.title}}</h6>
        <span>28/11/2018 -- this is static</span>
        <p class="txt-16">{{q.txt}}<br></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div *ngIf="q" class="col-md-9">
        <hr>
        <div *ngFor="let a of q.answers; index as myIndex" class="container answer">
          <span><a class="link" href="#">{{a.author.username}}</a> &nbsp; - &nbsp; 25 minutes ago</span><br><br>
          <p>{{a.txt}}</p>
          <span> 2 &nbsp;
            <a class="not-link" (click)="false;" href="" ><i class="fas fa-chevron-up"></i>&nbsp;upvote&nbsp;</a>
            <a class="not-link" (click)="false;" href="" ><i class="fas fa-chevron-down"></i>&nbsp;downvote&nbsp;</a>
            <a class="not-link" (click)="showReply(myIndex); false;" href="" ><i class="fas fa-comment-dots"></i>&nbsp;reply</a>
          </span><br><br>

          <div *ngIf="myIndex === replyToAnswerNo" class="row" style="margin-left: 50px;">
            <textarea class="reply-area"></textarea>
            <button type="submit" class="btn yf-submit reply-btn">Reply</button>
          </div>

          <div *ngFor="let r of a.replies" style="padding:5px;  margin-left: 50px; border-left: #d83431 2px solid;">
            <span>
              {{r.txt}} - &nbsp;<a class="link" href="#">{{r.author.username}}</a>
            </span><br>
          </div>
          <hr>
        </div>
        <br>
        <h1 class="my-font font-weight-bold">
          Leave an answer:
        </h1>
        <br>
        <textarea class="answer-area" placeholder="Text here..."></textarea>
        <button name="submit" class="btn yf-submit" type="submit" (click)="addAnswer(q.id, 'just trying something out')">
          Submit
        </button>
      </div>
    </div>
  </div>

</div>
