
.navbar-nav > li > a, .navbar-brand {
  padding-top:5px !important; padding-bottom:5px !important;
  height: 35px;
}
.navbar {min-height:30px !important; padding: 0}

.header-logo{
  margin-left: 45%;
  margin-top: 15px;
  margin-bottom: 15px;
}
.search-box{
  margin-top: 2px;
  margin-right: 20%;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  border: #4e555b solid 1px;
  background: white;
  width: 300px;
  max-width: 300px;
}
.search-box:focus{
  border: #d83431 solid 1px;
}

.option{
  font-size: 12px;
  height: 25px;
}
.option:hover{
  text-decoration: underline;
}
